body {
    background-image: url("https://picsum.photos/id/82/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    font-size:22px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#header, .nav>a,#hero,#cta{
    color:black;
}

#header {
    background-color:rgb(226, 216, 221);
    height:60px;
    padding:20px;
    padding-top: 10px;
}

#hero{
    font-size:22px;
    margin:1% auto 10% auto;

}

#hero>h1{
    font-size:80px;
}

#cta{
    background-color:rgb(250, 250, 250);
    text-decoration:dotted;
}

#cta:hover{
    background-color:rgb(60, 60, 212)

}

.button{
    display:block;
    width:fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border-width:
    border
}
.card{

}

